<nav>
  <ul>
    <li><a href="./mux-player-astro" class="player">&lt;MuxPlayer&gt;</a></li>
    <li><a href="./mux-player-audio" class="audio">&lt;MuxPlayer&gt; Audio</a></li>
    <li><a href="./mux-player-audio-tracks" class="audio">&lt;MuxPlayer&gt; Audio Tracks</a></li>
    <li><a href="./mux-player-chapters" class="video">&lt;MuxPlayer&gt; Chapters</a></li>
    <li><a href="./mux-player-react" class="player">&lt;MuxPlayer&gt; React</a></li>
    <li><a href="./mux-player-react-lazy" class="player">&lt;MuxPlayer&gt; (lazy)</a></li>
    <li><a href="./mux-player-classic-theme" class="player">&lt;MuxPlayer&gt; Classic Theme</a></li>
    <li><a href="./mux-player-microvideo-theme" class="player">&lt;MuxPlayer&gt; Microvideo Theme</a></li>
    <li><a href="./mux-player-cuepoints" class="player">&lt;MuxPlayer&gt; Cuepoints</a></li>
    <li><a href="./mux-player-error" class="player">&lt;MuxPlayer&gt; Error</a></li>
    <li><a href="./mux-player-poster-slot" class="player">&lt;MuxPlayer&gt; Poster Slot</a></li>
    <li><a href="./mux-player-renditions" class="player">&lt;MuxPlayer&gt; Renditions</a></li>
  </ul>
</nav>

<style>
  nav ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.5rem;
  }

  nav li a {
    color: var(--text-main);
    font-family: monospace;
    font-size: 16px;
    display: block;
    padding: 2rem;
  }

  li a.video {
    background: rgba(28, 160, 253, 0.1);
  }

  li a.audio {
    background: rgba(251, 80, 29, 0.08);
  }

  li a.player {
    background: rgba(31, 195, 168, 0.1);
  }

  li a.uploader {
    background: rgba(150, 32, 216, 0.1);
  }
</style>
