:host(:not([audio])) {
  --secondary-color: transparent;
}

:host {
  --_primary-color: var(--primary-color, #fff);

  --media-icon-color: var(--_primary-color);
  --media-range-thumb-background: var(--_primary-color);
  --media-range-bar-color: var(--_primary-color);
  --media-control-background: var(--secondary-color);
  --media-control-hover-background: var(--secondary-color);
  --media-time-buffered-color: rgba(255, 255, 255, 0.4);
  --media-range-track-background: rgba(255, 255, 255, 0.5);
  --media-range-track-border-radius: 3px;
  --media-preview-thumbnail-border: 1px solid #fff;
  --media-preview-thumbnail-border-radius: 2px;
  --media-preview-time-margin: 5px 0 2px;
  color: var(--_primary-color);
  display: inline-block;
  width: 100%;
  height: 100%;
}

:host(.two-tone:not([audio])) {
  --mux-time-range-padding: 0px; /* px is needed in calc() */
  --media-preview-thumbnail-border: 0;
  --media-preview-thumbnail-border-radius: 2px 2px 0 0;
  --media-preview-time-border-radius: 0 0 2px 2px;
  --media-preview-time-margin: 0 0 8px;
  --media-preview-time-text-shadow: none;
}

:host([audio]) {
  --media-preview-time-border-radius: 3px;
  --media-preview-time-margin: 0 0 5px;
  --media-preview-time-text-shadow: none;
}

:host(.two-tone:not([audio])) media-time-range {
  --media-range-track-border-radius: 0;
}

:host([audio]) ::slotted([slot='media']) {
  height: 0px;
}

:host([audio]) :is(media-poster-image, media-loading-indicator) {
  display: none;
}

:host([audio]) media-controller {
  background: transparent;
}

:host([audio]) media-controller::part(vertical-layer) {
  background: transparent;
}

:host([audio]) media-control-bar {
  width: 100%;
}

[disabled],
[aria-disabled='true'] {
  opacity: 60%;
  cursor: not-allowed;
}

media-captions-button:not(:is([media-captions-list], [media-subtitles-list])) {
  --captions-button: none;
}

media-volume-range[media-volume-unavailable] {
  --volume-range: none;
}

media-airplay-button[media-airplay-unavailable] {
  --airplay-button: none;
}

media-fullscreen-button[media-fullscreen-unavailable] {
  --fullscreen-button: none;
}

media-cast-button[media-cast-unavailable] {
  --cast-button: none;
}

media-pip-button[media-pip-unavailable] {
  --pip-button: none;
}

media-controller {
  width: 100%;
  height: 100%;
}

:host media-time-range {
  color: var(--_primary-color);
  --media-range-thumb-opacity: 0;
}

:host(:not([audio])) media-time-range {
  --media-range-padding-left: var(--mux-time-range-padding, 10px);
  --media-range-padding-right: var(--mux-time-range-padding, 10px);
  --media-range-padding: 0;
  z-index: 10;
  height: 10px;
  bottom: -3px;
  background: linear-gradient(
    180deg,
    transparent,
    transparent 3px,
    var(--media-control-background, rgba(20, 20, 30, 0.7)) 3px,
    var(--media-control-background, rgba(20, 20, 30, 0.7)) 7px,
    transparent 7px,
    transparent
  );
  width: 100%;
}

media-control-bar {
  --media-control-padding: 9px 7px;
}

.size-small media-control-bar {
  --media-control-padding: 9px 5px;
}

.size-extra-small media-control-bar {
  --media-control-padding: 4px 3px;
}

media-control-bar :is([role='button'], [role='switch'], button) {
  line-height: 0;
}

media-control-bar :is(media-text-display, mxp-time-display):first-child {
  --media-control-padding: 9px 5px 9px 10px;
}

.spacer {
  flex-grow: 1;
  height: 100%;
  background-color: var(--media-control-background, rgba(20, 20, 30, 0.7));
}

/* Add a small space on the right to have the play button and
 * fullscreen button aligned in relation to the progress bar. */
.size-large .padding-2 {
  width: 2px;
  height: 100%;
  background-color: var(--media-control-background, rgba(20, 20, 30, 0.7));
}

media-control-bar[slot='top-chrome'] {
  min-height: 42px;
}

:host([title]) media-control-bar[slot='top-chrome']::before {
  content: '';
  position: absolute;
  width: 100%;
  padding-bottom: min(160px, 25%);
  background: linear-gradient(rgb(0 0 0 / 0.4), transparent);
}

media-control-bar[slot='top-chrome'] > * {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  position: relative;
}

media-controller::part(vertical-layer) {
  transition: background-color 1s;
}

media-controller:is([media-paused], :not([user-inactive]))::part(vertical-layer) {
  background-color: var(--controls-backdrop-color, var(--controls, transparent));
  transition: background-color 0.25s;
}

.center-controls {
  --media-button-icon-width: 100%;
  --media-button-icon-height: auto;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.25)) drop-shadow(0 0 6px rgb(0 0 0 / 0.25));
  paint-order: stroke;
  stroke: rgba(102, 102, 102, 1);
  stroke-width: 0.3px;
  text-shadow: 0 0 2px rgb(0 0 0 / 0.25), 0 0 6px rgb(0 0 0 / 0.25);
}

.center-controls media-play-button {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  padding: 0;
  width: max(43px, min(10%, 55px));
}

.center-controls media-seek-backward-button,
.center-controls media-seek-forward-button {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  padding: 0;
  margin: 0 2%;
  width: max(33px, min(8%, 40px));
}

media-loading-indicator {
  --media-loading-icon-width: 100%;
  --media-button-icon-height: auto;
  pointer-events: none;
  position: absolute;
  width: min(15%, 150px);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

/* Intentionally don't target the div for transition but the children
 of the div. Prevents messing with media-chrome's autohide feature. */
media-loading-indicator + div * {
  transition: opacity 0.15s;
  opacity: 1;
}

media-loading-indicator[media-loading]:not([media-paused]) ~ div > * {
  opacity: 0;
  transition-delay: 400ms;
}

media-volume-range {
  width: min(100%, 100px);
}

media-time-display {
  white-space: nowrap;
}

:is(media-time-display, media-text-display, media-playback-rate-button[role='button']) {
  color: inherit;
  line-height: 24px;
}

.title-display {
  font-size: 16px;
  text-shadow: 0 0 2px rgb(0 0 0 / 0.6);
}

:host([audio]) .title-display {
  flex-grow: 1;
  font-size: 21px;
}
