:host(:not([audio])) {
  --secondary-color: transparent;
}

:host {
  --_primary-color: var(--primary-color, #fff);

  --media-icon-color: var(--_primary-color);
  --media-range-thumb-background: var(--_primary-color);
  --media-range-bar-color: var(--_primary-color);
  --media-control-background: var(--secondary-color);
  --media-control-hover-background: var(--secondary-color);
  --media-time-buffered-color: rgba(255, 255, 255, 0.4);
  --media-range-track-background: rgba(255, 255, 255, 0.5);
  --media-range-track-border-radius: 3px;
  --media-preview-thumbnail-border: 1px solid #fff;
  --media-preview-thumbnail-border-radius: 2px;
  --media-preview-time-margin: 5px 0 2px;
  color: var(--_primary-color);
  display: inline-block;
  width: 100%;
  height: 100%;
}

:host(.two-tone:not([audio])) {
  --mux-time-range-padding: 0px; /* px is needed in calc() */
  --media-preview-thumbnail-border: 0;
  --media-preview-thumbnail-border-radius: 2px 2px 0 0;
  --media-preview-time-border-radius: 0 0 2px 2px;
  --media-preview-time-margin: 0 0 8px;
  --media-preview-time-text-shadow: none;
}

:host([audio]) {
  --media-preview-time-border-radius: 3px;
  --media-preview-time-margin: 0 0 5px;
  --media-preview-time-text-shadow: none;
}

:host(.two-tone:not([audio])) media-time-range {
  --media-range-track-border-radius: 0;
}

:host([audio]) ::slotted([slot='media']) {
  height: 0px;
}

:host([audio]) media-controller {
  background: transparent;
}

:host([audio]) media-controller::part(vertical-layer) {
  background: transparent;
}

:host([audio]) media-control-bar {
  width: 100%;
}

media-airplay-button[media-airplay-unavailable],
media-cast-button[media-cast-unavailable],
media-volume-range[media-volume-unavailable],
media-airplay-button[media-airplay-unavailable],
media-captions-button:not(:is([media-captions-list], [media-subtitles-list])) {
  display: none;
}

media-volume-range[media-volume-unavailable] {
  display: none;
}

media-pip-button[media-pip-unavailable] {
  display: none;
}

media-controller {
  width: 100%;
  height: 100%;
}

:host media-time-range {
  color: var(--_primary-color);
}

:host(:not([audio])) media-time-range {
  --media-range-padding-left: var(--mux-time-range-padding, 10px);
  --media-range-padding-right: var(--mux-time-range-padding, 10px);
  width: 100%;
  z-index: 10;
  height: 10px;
  bottom: -2px;
  background: linear-gradient(
    180deg,
    transparent,
    transparent 3px,
    var(--media-control-background) 3px,
    var(--media-control-background) 8px,
    transparent 8px,
    transparent
  );
}

media-control-bar {
  --media-button-icon-width: 18px;
}

media-control-bar :is([role='button'], [role='switch'], button) {
  height: 44px;
}

.size-extra-small media-control-bar [role='button'],
.size-extra-small media-control-bar [role='switch'] {
  height: auto;
  padding: 4.4% 3.2%;
}

.mxp-spacer {
  flex-grow: 1;
  height: 100%;
  background-color: var(--media-control-background, rgba(20, 20, 30, 0.7));
}

/* Add a small space on the right to have the play button and
 * fullscreen button aligned in relation to the progress bar. */
.size-large .mxp-padding-2 {
  width: 2px;
  height: 100%;
  background-color: var(--media-control-background, rgba(20, 20, 30, 0.7));
}

media-controller::part(vertical-layer) {
  transition: background-color 1s;
}

media-controller:is([media-paused], :not([user-inactive]))::part(vertical-layer) {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.25s;
}

.mxp-center-controls {
  --media-button-icon-width: 100%;
  --media-button-icon-height: auto;
  pointer-events: none;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.mxp-center-controls media-play-button {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  padding: 0;
  width: max(27px, min(9%, 90px));
}

.mxp-center-controls media-seek-backward-button,
.mxp-center-controls media-seek-forward-button {
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  padding: 0;
  margin: 0 10%;
  width: min(7%, 70px);
}

media-loading-indicator {
  --media-loading-icon-width: 100%;
  --media-button-icon-height: auto;
  pointer-events: none;
  position: absolute;
  width: min(15%, 150px);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

/* Intentionally don't target the div for transition but the children
 of the div. Prevents messing with media-chrome's autohide feature. */
media-loading-indicator + div * {
  transition: opacity 0.15s;
  opacity: 1;
}

media-loading-indicator[media-loading]:not([media-paused]) ~ div > * {
  opacity: 0;
  transition-delay: 400ms;
}

media-volume-range {
  width: min(100%, 100px);
}

media-time-display {
  white-space: nowrap;
}

:is(media-time-display, media-text-display, media-playback-rate-button) {
  color: inherit;
}
