:root {
  --links: rgb(223, 40, 104);
}

body {
  padding: 0 1rem;
}

header {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
}

.mux-logo picture {
  display: inline-block;
  width: 81px;
}

.github-logo {
  display: inline-block;
  width: 26px;
  height: 26px;
}

h1 {
  margin: 0;
  margin-left: .9em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 18px;
}

h1 a {
  color: var(--text-main);
}

nav ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
}

nav li a {
  color: var(--text-main);
  font-family: monospace;
  font-size: 16px;
  display: block;
  padding: 2rem;
}

li a.video {
  background: rgba(28, 160, 253, .1);
}

li a.audio {
  background: rgba(251, 80, 29, .08);
}

li a.player {
  background: rgba(31, 195, 168, .1);
}

li a.uploader {
  background: rgba(150, 32, 216, .1);
}

@media (prefers-color-scheme:dark) {
  body {
    background: var(--background-alt);
  }
  .github-logo {
    filter: invert(1) saturate(0);
  }
}
