name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --frozen-lockfile
      - run: cd packages/mux-video && yarn install && yarn build
      - run: cd packages/mux-audio && yarn install && yarn build
      - run: cd packages/mux-video-react && yarn install && yarn build
