name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # extract `engines.node` from package.json and save it to output
      - name: Get Node.JS version from package.json
        id: get-versions
        run: echo ::set-output name=node::$(jq -r .engines.node ./package.json)
      - name: Use Node.js ${{ steps.get-versions.outputs.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.get-versions.outputs.node }}
      - run: yarn install --frozen-lockfile
      - run: yarn build
